{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TiendaEstática</title>
    <link href='https://fonts.googleapis.com/css?family=Ruthie' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mr Dafoe' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jockey One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'shop.css'%}">
  </head>
  <body>
    <div class="header">
      <a href="./index.html" style="text-decoration:none; color:white"><h1>-Static Shop-</h1></a>
    </div>
    <ul>
      <a href="./libros.html" style="text-decoration:none; color:white"><li>Libros</li></a>
      <a href="./discos.html" style="text-decoration:none; color:white"><li>Discos</li></a>
      <a href="./zapatillas.html" style="text-decoration:none; color:white"><li>Zapatillas</li></a>
    </ul>
    <table style="width:80%;text-align:center; margin-left:100px">
      <tr>
        <td><img src="{% static 'Lebron.jpg'%}" alt="Lebron" width="450" height="450" style="float:center">
          <p style="font-size:50px">14,50€   <img src="{% static 'carrito.png'%}" alt="carrito" width="64" height="64" style="float:center"></p></td>
        <td><p style="font-size:20px; margin-left:30px">Lebron es, sin duda, su álbum más especial. En Lebron
          encontramos nuevas fórmulas junto al TOTE de siempre, pero con la madurez que sólo la experiencia
          puede proporcionar. Es el caso de Puzzle, Ellas o Nada Es Seguro. TOTEKING se abre paso con maestría,
          y demuestra que el rap en español no ha llegado, ni mucho menos, al final del camino.<br><br>
          Tracklist:<br>
          01.Woh! (Part 2) / El serranito con Príncipe Palanca<br>
          02.Puzzle<br>
          03.Libera el estrés<br>
          04.Ellas con Little Pepe y Erick Hervé<br>
          05.No love con Lone y Ceerre<br>
          06.Nada es seguro<br>
          07.Bartleby & co.
            <audio controls>
              <source src="{% static 'Bartleby&Co.mp3'%}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio><br>
          08.Peligroso<br>
          09.N.T.F. con Green Valley<br>
          10.Interludio OSR - Lebron<br>
          11.Gente tóxica con Rozalén
            <audio controls>
              <source src="{% static 'GenteToxica.mp3'%}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio><br>
          12.Mi colega
            <audio controls>
              <source src="{% static 'MiColega.mp3'%}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio><br>
          13.Tonto con Shotta y Andreas Lutz<br>
          14.No quiero ser uno más con Green Valley<br>
          15.Sube sube sube<br>
          16.De verdad con Mezkla Dohnaire<br>
          17.Tiempo<br>
          18.No pueden con A contra blues</p></td>
      </tr>
    </table>
  </body>
</html>
