{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href='https://fonts.googleapis.com/css?family=Ruthie' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mr Dafoe' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jockey One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'shop.css'%}">
  </head>
  <body>
    <div class="header">
      <a href="./index.html" style="text-decoration:none; color:white"><h1>-Static Shop-</h1></a>
    </div>
    <ul>
      <a href="./libros.html" style="text-decoration:none; color:white"><li>Libros</li></a>
      <a href="./discos.html" style="text-decoration:none; color:white"><li>Discos</li></a>
      <a href="./zapatillas.html" style="text-decoration:none; color:white"><li>Zapatillas</li></a>
    </ul><br>
    <table style="width:100%;text-align:center">
      <tr>
        <td><a href="./disco1.html"><img src="{% static 'Lebron.jpg'%}" alt="Lebron" width="400" height="400" style="float:center"><br>Toteking - Lebron</a></td>
        <td><a href="./libro1.html"><img src="{% static 'metamorfosis.jpg'%}" alt="metamorfosis" width="333" height="503" style="float:center"><br>Franz Kafka - La metamorfosis</a></td>
        <td><a href="./zapa1.html"><img src="{% static 'Jordan11Concord.png'%}" alt="Concord" width="427" height="258" style="float:center"><br>Air Jordan XI Concord</a></td>
      </tr>
    </table>
  </body>
</html>
