{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TiendaEstática</title>
    <link href='https://fonts.googleapis.com/css?family=Ruthie' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mr Dafoe' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jockey One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'shop.css'%}">
  </head>
  <body>
    <div class="header">
      <a href="./index.html" style="text-decoration:none; color:white"><h1>-Static Shop-</h1></a>
    </div>
    <ul>
      <a href="./libros.html" style="text-decoration:none; color:white"><li>Libros</li></a>
      <a href="./discos.html" style="text-decoration:none; color:white"><li>Discos</li></a>
      <a href="./zapatillas.html" style="text-decoration:none; color:white"><li>Zapatillas</li></a>
    </ul>
    <table style="width:90%;text-align:center; margin-left:150px">
      <tr>
        <td><img src="{% static 'AM95Infrared.png'%}" alt="AM95" width="640" height="387" style="float:center">
          <p style="font-size:50px">190€   <img src="{% static 'carrito.png'%}" alt="carrito" width="64" height="64" style="float:center"></p></td>
        <td><p style="font-size:20px; margin-left:70px; margin-bottom:20px">La icónica familia Air Max dio
          un paso hacia el futuro con su diseño del 95, el modelo que presentó al mundo las ventanas para
          ver el Air. Las zapatillas incorporaban estas ventanas en el antepié para ofrecer un equilibrio
          perfecto con sus llamativas líneas de diseño inspiradas en la anatomía humana. Diseñado con la
          innovación en mente, este look postmoderno acapararó toda la atención del público, que no tardó en
          convertirlo en un clásico de la moda urbana casi al instante. Desde entonces, sigue siendo uno de
          los más codiciados. Descubre este nuevo diseño inspirado en las famosas Air Stab "Runnin' 'n' Gunnin'"
          de 2008 en negro y granito texturado con toques de color infrarrojo.</p>
          <video width="640" height="480" controls>
            <source src="{% static 'AM95mp4.mp4'%}" type="video/mp4">
            <source src="{% static 'AM95webm.wemb'%}" type="video/webm">
          </video>
        </td>
      </tr>
    </table>
  </body>
</html>
